<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shortege</title>
</head>
<body>

    <img src={{ photo }}>
    <h1>I am {{ username }}</h1><br>
    <form action="" method="POST" >
        {% csrf_token %}
        Long URL : <input name="long_url" type="url">
        <button type="submit">Cut this</button><br><br>
        {% if error_message %}
            <h2>{{ error_message }}</h2>
        {% endif %}
        {% if short_url %}
        Short URL : <a href="{{ long_url }}">{{ short_url }}</a>
        {% endif %}
    </form>
</body>
</html>